Host localhost
        BatchMode yes
        StrictHostKeyChecking no

Host 0.0.0.0
        BatchMode yes
        StrictHostKeyChecking no

Host node*
        BatchMode yes
        StrictHostKeyChecking no
